body {
  background-color: #0e0e11;
  background-image: radial-gradient(
      circle at 50% 50%,
      rgba(243, 112, 30, 0.12),
      transparent 30%
    ),
    radial-gradient(circle at 30% 80%, rgba(75, 96, 127, 0.08), transparent 60%);
  background-repeat: no-repeat;
  background-size: 700px 700px, 500px 500px;
  background-position: center, bottom left;
}
