@import "tailwindcss";

body,
html {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
}
main::-webkit-scrollbar {
  display: none;
}

main {
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE 10+ */
}
